* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #800707;
    width: 100%;
   
    }
    header {
        background-color:#ffffff;
        width: 100%;
        padding: 10px;
        font-family:'Courier New', Courier, monospace;
        font-size: 60px;
        font-weight: bold;
        color: rgb(11, 13, 131);
        text-shadow: 0px 0px 10px#f8e800;
        justify-content:space-evenly; 
        align-items:center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
          
      }
     
      #container{
          border: solid blue;
          width: 90%;
          height: 100%;
          margin-top: 40px;
          margin-left: 100px;
          padding-left: 40px;
    padding-right: 10px;
        display: inline-flex;
        flex-direction: row;
            flex-wrap: wrap;
            
           
      }
      #cards{
        height: 180px;
        width: 140px; 
        border: solid 4px rgb(10, 10, 10);
        padding: 5px;
        background-color: rgb(252, 252, 252);
        justify-content: center;
        margin-left: 50px;
        margin-top: 10px;
        
        }

        img{
            justify-content: center;

        }
        h3{
            text-align: center;
            padding: 5px;
            font-size: 20px;
        }

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #800707;
    width: 100%;
   
    }
    header {
        background-color:#ffffff;
        width: 100%;
        padding: 20px;
        font-family:'Courier New', Courier, monospace;
        font-size: 60px;
        font-weight: bold;
        color: rgb(11, 13, 131);
        text-shadow: 0px 0px 10px#f8e800;
        justify-content:space-evenly; 
        align-items:center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
          
      }

div{
    display: inline-flex;
    flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
        margin: 20px;
}

#cards{
height: 200px;
width: 150px; 
border: solid 4px rgb(10, 10, 10);
padding: 20px;
margin-top:  20px;
background-color: rgb(252, 252, 252);
justify-content: center;


}
h3{
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
     */