
body {
    background-color: rgb(63, 89, 99);
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgba(228, 228, 228, 1);
    font-weight: bold;
    margin-top: 7px;
}
.gameBoard {
    background: rgba(228, 228, 228, 1);
    height: 640px;
    width: 750px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin:auto;
}
.card {
    display:flex;
    margin:5px;
    padding: 15px;
    position: relative;
    background-color: rgb(146, 145, 145); 
    border: 1px solid rgb(136, 136, 136);
    width: 110px;
    height: 110px;
    border-radius: 5px; 
    transform-style: preserve-3d;
    word-wrap: break-word;
    justify-content:space-between;
    align-items: center;
    transform: scale(1);
    cursor: pointer;
} 
.frontcard {
    position:absolute;
    justify-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -.03em;
    color:black;
}
.backcard {
    background-color: rgb(146, 145, 145);;
    color: black;
    border: 1px solid rgb(136, 136, 136);
    width: 115px;
    height: 115px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    transform: rotateY(180deg);
    word-wrap: break-word;
    backface-visibility: hidden;
}
.card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.buttonShuffler {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(228, 228, 228, 1);
    border-radius: 7px; 
}
/*.bar {
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;
    background: rgb(194, 192, 192);
    width: 820px;
    height: 40px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin:auto;
    align-items:center; 
    justify-content: flex-start;
}
#root {
    background: rgba(228, 228, 228, 1);
    height: 630px;
    width: 800px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display:-webkit-flex;
    display:-ms-flexbox;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin:auto;
}
.container {
    flex-grow: 1;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 25%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}




.card:hover{
    transform:rotateY(180deg);
    transition: all .7s ease; 
  } 
#buttonSpace {
    position: absolute;
    top: 80px;
}
/*
footer {
    background: rgba(228, 228, 228, 1);;
    display:flex;3
    align-content: center;
    position:absolute;
    top:730px;
    left:235px;
    width: 970px;
    height: 50px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    margin: auto;
} */
