@import url('https://fonts.googleapis.com/css?family=Indie+Flower&effect=shadow-multiple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&display=swap');
*{
  padding: 0%;
  margin: 0%;
}
#encabezado{
  background-image: url("imgEncabezado.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;

}
.contenedor{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:purple;
}
.carta{
  display: block;
  width:150px;
  height: 200px;
  background-color: white;
  box-shadow: 5px 5px 5px #525352;
  border-radius: 3px;
  margin: 20px;
}
.cara {
  height: inherit;
  width: inherit;
  position: absolute;
  backface-visibility: hidden;
  background-color: white;
  
}
.detras{
  position: absolute;
  width: inherit;
  height: inherit;
  
}
.cara img{
  width: inherit;
}

.detras img{
  width:inherit;
  height: inherit;
}

.detras {
  transform: rotateY(180deg);
}
.carta:hover{
  transform: rotateY(180deg);
}
h1{
  color: #ff8811;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-size: 90px;
  text-shadow: 4px 4px 4px black;
} 

  @media (max-width: 575.98px) { 
    h1{
      font-size:15px;

    }
    /*p{
      font-family: Arial, Helvetica, sans-serif;
      color:pink;
   }*/
   }
  
  
  @media (max-width: 767.98px) { 
    h1{
      font-size:25px;

    }
    #parrafo2{
      color: purple;
    }
  }  
  
  
  
  @media (max-width: 991.98px) { 
    h1{
      font-size:50px;
    }
    
   }
  
  
  @media (max-width: 1199.98px) { 

  }
  
  
  @media (max-width: 1399.98px) { 

  }

  .button-reset{
    /*background-color:red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;*/
    background-color: #ff8811;
    border-radius: 50px;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.button-reset:hover {
  background-color:rgb(141, 192, 250);
  color: white;
}
  